*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    padding-left: 30px;
    width: 100%;
    height: 100px;
    color: white;
    background-color: rgb(205, 13, 13);
}
header h1{
    padding-top: 25px;
}
section{
    width: 100%;
}
section aside{
    padding: 25px;
    width: 15%;
    float: left;
    background-color: rgb(103, 184, 22);
}
section main{
    padding: 25px;
    width: 85%;
    float: left;
    background-color: rgb(204, 218, 83);
}
footer{
    color: white;
    padding: 25px;
    text-align: center;
    background-color:rgb(205, 13, 13);
}